<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Cloud</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
      @keyframes imageChange {
        0% {
           background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/1200229/pexels-photo-1200229.jpeg?auto=compress&cs=tinysrgb&w=800');
        }
        25% {
           background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/206557/pexels-photo-206557.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        }
        50% {
           background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/4557877/pexels-photo-4557877.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        }
        75% {
           background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/458766/pexels-photo-458766.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        }
        100% {
           background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/1181519/pexels-photo-1181519.jpeg');
        }
      }
    </style>
</head>
</head>
<body>
    <nav class="bg-gray-800 sticky ">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
              <!-- Mobile menu button-->
              <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" id='openCloseMenu'  aria-expanded="false">
                <span class="absolute -inset-0.5"></span>
                <span class="sr-only">Open main menu</span>
                <!--
                  Icon when menu is closed.
      
                  Menu open: "hidden", Menu closed: "block"
                -->
                <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
                <!--
                  Icon when menu is open.
      
                  Menu open: "block", Menu closed: "hidden"
                -->
                <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
              <div class="flex flex-shrink-0 items-center">
                <img class="h-8 w-auto" src="https://th.bing.com/th/id/R.87c19e84bb20e3026c36b6cc54d7a349?rik=PB7ncSfOIF%2bwTA&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2facq%2fL69%2facqL69boi.png&ehk=A3oL5L7ENI2GRUFm4jvnmn1JLYZKFqbNhXgreb7WD2I%3d&risl=&pid=ImgRaw&r=0" alt="Your Company">
              </div>
              <div class="hidden sm:ml-6 sm:block">
                <div class="flex space-x-4">
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                  <a href="#" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Platform</a>
                  <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Solution</a>
                  <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Pricing</a>
                  <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">About Us</a>
                </div>
              </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
              <button type="button" class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                <span class="absolute -inset-1.5"></span>
                <span class="sr-only">View notifications</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                </svg>
              </button>
      
              <!-- Profile dropdown -->
              <div class="relative ml-3">
                <div>
                  <button type="button" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                    <span class="absolute -inset-1.5"></span>
                    <span class="sr-only">Open user menu</span>
                    <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                  </button>
                </div>
      
               
                
              </div>
            </div>
          </div>
        </div>
      
        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="sm:hidden none" id="mobile-menu">
          <div class="space-y-1 px-2 pb-3 pt-2">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="#" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Platform</a>
            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Solution</a>
            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Pricing</a>
            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">About Us</a>
          </div>
        </div>
      </nav>
      <header class="relative" style="height: 80vh; 
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
       url('https://images.pexels.com/photos/1239291/pexels-photo-1239291.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); 
      background-size: cover;
       background-position: center;
       animation: imageChange 15s infinite;

       ">
        <div class="flex items-center justify-center text-white h-full">
          <div class="text-center">
            <h1 class="text-4xl font-bold">Image And Video API Platform</h1>
            <div class="w-full lg:w-50">
              <p>Crafting Captivating Image Cloud Experiences Embraced by 1.5 million developers and 10,000 enterprise and high-growth companies as a pivotal element of their image cloud technology stack.</p>
          </div>
          
            <button id="changeImageButton" class="bg-blue-500 text-white py-2 px-4 mt-4">Explore  More </button>
          </div>
        </div>
      </header>

      <div id="signupForm" class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-75 flex items-center justify-center signup-form">
        <div class="bg-white p-8 rounded-lg w-full lg:w-1/3">
            <h2 class="text-2xl font-bold mb-4">Login Form</h2>
            <form>
                <div class="mb-4">
                    <label for="username" class="block text-sm font-medium text-gray-600">Username</label>
                    <input type="text" id="username" name="username" class="mt-1 p-2 w-full border rounded-md">
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-sm font-medium text-gray-600">Password</label>
                    <input type="password" id="password" name="password" class="mt-1 p-2 w-full border rounded-md">
                </div>
                <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md">Login</button>
            </form>
            <div class="mt-4">
                <p>Don't have an account? <a href="#" class="text-blue-500">Sign Up</a></p>
            </div>
            <div class="mt-4">
                <p>Or sign in with:</p>
                <div class="flex mt-2">
                    <a href="#" class="bg-red-500 text-white py-2 px-4 rounded-md mr-2">Sign in with Google</a>
                    <a href="#" class="bg-black text-white py-2 px-4 rounded-md">Sign in with GitHub</a>
                </div>
            </div>
            <button class="absolute top-4 right-4 text-white" onclick="toggleLoginForm()">Close</button>
        </div>
    </div>

    <div id="signupForm" class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-75 flex items-center justify-center signup-form hidden">
      <div class="bg-white p-8 rounded-lg w-full lg:w-1/3">
          <h2 class="text-2xl font-bold mb-4">Sign Up Form</h2>
          <form>
              <div class="mb-4">
                  <label for="fullName" class="block text-sm font-medium text-gray-600">Full Name</label>
                  <input type="text" id="fullName" name="fullName" class="mt-1 p-2 w-full border rounded-md">
              </div>
              <div class="mb-4">
                  <label for="email" class="block text-sm font-medium text-gray-600">Email</label>
                  <input type="email" id="email" name="email" class="mt-1 p-2 w-full border rounded-md">
              </div>
              <div class="mb-4">
                  <label for="password" class="block text-sm font-medium text-gray-600">Password</label>
                  <input type="password" id="password" name="password" class="mt-1 p-2 w-full border rounded-md">
              </div>
              <button type="submit" class="bg-green-500 text-white py-2 px-4 rounded-md">Sign Up</button>
          </form>
          <div class="mt-4">
              <p>Already have an account? <a href="#" class="text-blue-500">Sign In</a></p>
          </div>
          <button class="absolute top-4 right-4 text-white" onclick="toggleSignupForm()">Close</button>
      </div>
  </div>
      
</body>
<script>
    var navMenu = document.getElementById("mobile-menu");
    var closeMenu =document.getElementById('openCloseMenu');
    function toogleMenu(){
        if(navMenu.style.display== 'block'){
            navMenu.style.display  = 'none ';
            console.log('nav is cleared')
        }
        else{
            navMenu.style.display = 'block';
            console.log('nav is displayed   ')

        }

       
    }

    closeMenu.addEventListener('click',toogleMenu);
</script>
</html>